<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>
    <bean id="messageService" class="my.homework.service.MessageService">
        <constructor-arg name="messageSource" ref="messageSource"/>
    </bean>
    <bean id="questionDAO" class="my.homework.dao.QuestionCsvDAOImpl">
        <constructor-arg name="questionResource" value="classpath:questions.csv"/>
        <constructor-arg name="answerResource" value="classpath:answers.csv"/>
        <constructor-arg name="messageService" ref="messageService"/>
    </bean>
    <bean id="testingService" class="my.homework.service.TestingServiceImpl" init-method="init">
        <constructor-arg name="questionDAO" ref="questionDAO"/>
        <constructor-arg name="messageService" ref="messageService"/>
    </bean>
</beans>

